*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 10rem;
  letter-spacing: 1.1px;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: $color-primary;

  @media only screen and (max-width: $phone-width) {
    padding: 0;
  }
}

header {
  height: 15vh;
  margin-bottom: 10rem;
}
