.page {
  &__header {
    font-size: $font-size-primary-heading;
    height: 100vh;
    justify-content: center;

    @media only screen and (max-width: $phone-width) {
      font-size: $font-size-small-text;
    }

    @media only screen and  (min-width: $phone-width) and (max-width: $tab-medium-width){
      font-size: $font-size-phone-heading;
    }

    span {
      padding: 4rem 0 4rem;
    }
  }

   &__calculator-section {
     height: 100vh;
     min-height: 100rem;
     padding: 3rem;
   }

   &__rotate-section {
     height: 90vh;
     min-height: 80rem;
     padding: 3rem;
     margin-bottom: 20rem;
   }

   &__test-section {
     height: 80vh;
     min-height: 40rem;
     padding: 3rem;
     margin-bottom: 10rem;
   }

  &__footer {
    font-size: $font-size-primary-heading;
    color: $color-tertiary;

    @media only screen and (max-width: $phone-width) {
      font-size: $font-size-small-text;
    }

    @media only screen and  (min-width: $phone-width) and (max-width: $tab-medium-width){
      font-size: $font-size-phone-heading;
    }
  }
}
