$font-size-primary-heading: 5rem;
$font-size-secondary-heading: 4.5rem;
$font-size-medium-text: 3.5rem;
$font-size-small-text: 2.5rem;

$color-white: white;
$color-primary: #FFF4E0;
$color-secondary: #FFC679;
$color-tertiary: #FFBC61;
$color-strong: #F99292;
$color-grey: #BCB5B5;
$color-black: #000000;
$color-shadow: #000000d6;
